body {
  color: black;
}

div {
  color: black;
}

.class {
  color: black;
}

#id {
  color: black;
}

.ninja {
  color: purple;
  display: none;
}

#nyan {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2.5%;
  position: absolute;
  right: 100%;
  width: 25%;
}

.dom {
  font-family: Impact;
}

.before-after {
  background-color: silver;
}

#to-bind {
  background-color: lightblue;
  font-family: Verdana; /* Check line 21 of my-query.js */
  padding: 5%;
  text-align: center;
}
